.row, .pic-my{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.sectionTitle{
    font-size: 6em;
    color: #9466bb ;
}

.sectionAbout {
    padding-left: 200px;
       
}

.pic-my{
    padding-left: 2em;
}

.aboutmelist ul li{
    list-style: '> ';
}

.aboutmelist{
    -webkit-columns: 2;
    column-count: 2;
    grid-column-gap: 1px;
    -webkit-column-gap: 1px;
    column-gap: 1px;
    -webkit-padding-start: 15px;
    padding-inline-start: 15px;
    display: grid;
    grid-template-columns: repeat(2,minmax(140px,200px));
    overflow: hidden;
    
}