body{
  color: #ccd6f6;
  background-color: #070a19;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  
}

:root{
  --large-screen-size: 1920px;
  --medium-screen-size: 1440px;
  --small-screen-size: 960px;
  --xsmall-screen-size: 480px;
}